@import "../../../styles/variables";
@import "../../../styles/tune-button.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  #00989b 0.1%, #005e78 94.2% );
}

html, body { height: 100%; }

