@import 'variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Source Sans', sans-serif;
  background-image: radial-gradient(
    circle at 50%,
    $tune-color-primary-1 0.1%,
    $tune-color-primary-2 94.2%
  );
}

body {
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}
