<main class="home">
  <h2 class="video__author white-text" *ngIf="(videoData$ | async)?.author">
    {{ (videoData$ | async)?.author }}
  </h2>
  <h3 class="video__title white-text">
    {{ (videoData$ | async)?.title }}
  </h3>

  <mauromattos00-video-player
    [videoId]="(videoId$ | async)!"
    [width]="480"
    [height]="640"
    [playerVars]="(playerVars$ | async)!"
    class="video-player"
  ></mauromattos00-video-player>

  <button
    tuneButton="primary"
    tuneRandomizeVideo
  >
    Randomizar
  </button>
</main>
