@import 'variables';
@import 'flexbox';

.headings {
  margin-bottom: 1.5rem;
}

.home {
  width: 55vw;
  margin: auto;
  justify-self: center;
}

.video-player-wrapper {
  display: flex;
  justify-content: space-between;
}

.button-next-video {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.top-bar {
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;

  & > img {
    height: 50px;
  }
}
