@import 'variables';
@import 'flexbox';

.headings {
  @include column-center;
  color: $tune-white;
  margin: 1.5rem 0;

  &__title {
    text-shadow: 0 2px 2px #666;
  }
}

.home {
  width: 70vw;
  margin: auto;
  justify-self: center;
}

.video-player {
  margin-bottom: 2rem;
}

.video {
  &__author {
    margin-top: 1.5rem;
  }

  &__title {
    margin: 1.5rem 0;
    text-shadow: 0 2px 2px #666;
  }
}

.white-text {
  color: $tune-white;
}

.top-bar {
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;

  & > img {
    height: 50px;
  }
}
