@import 'variables';
@import 'flexbox';

.headings {
  @include column-center;
  color: $tune-white;
  margin-bottom: 2rem;

  &__title {
    text-shadow: 0 2px 2px #666;
  }

  &__subtitle {
    font-size: 1.3rem;
  }
}
