@import "variables.scss";

.tune-button {
  padding: 1rem;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  width: 480px;

  &--primary {
    background-color: $tune-white;
    color: $tune-dark-green;
  }

  &--secondary {
    background-color: $tune-orange;
    color: $tune-white;
  }
}
